.colorpicker {
    position: absolute;
    right: 20px;
    bottom: 20px;
}


.colorpicker-container {

    position: absolute;
    right: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 190px;
    background-color: #0a0a0a;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #494949;

    border-radius: 5px;

    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.button2.color {
    padding: 0;
    width: 55px;
    height: 55px;
    margin: 4px;
}


#red {
    background-color: red
}
#purple {
    background-color: purple
}
#navy {
    background-color: navy
}
#blue {
    background-color: blue
}
#cyan {
    background-color: cyan
}
#teal {
    background-color: teal
}
#green {
    background-color: green
}
#yellow {
    background-color: yellow
}
#orange {
    background-color: orange
}













rand {

    list-style-type: none;
    margin: 200px;

    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: #3d3aa6;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
    width: 100px;

}






/* The container */
.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    width: 55px;
    height: 55px;
    margin: 4px;

    border-radius: 5px;
    background-color: #eee;

    text-decoration: none;

    color: white;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);



}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkmark-container .checkmark:after {


}

