:root {
    --header-size: 115px;
}


header {
    background-color: #212529;
    display: block;

    margin: 0 auto;

    --header-padding: 5px;
    padding: var(--header-padding);

    width: calc(100% - 2 * var(--header-padding));
    height: auto;

    position: fixed;
    top: 0;
    z-index: 2; /* Stay on top */

}



.menu {
    display: flex;
}

.menu-item {
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    margin: 20px;
}

.logo {

}