@import "header.css";
@import "footer.css";
@import "main.css";

body {
    background-color: #000000;
    color: #d3dede;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.button2 {

    border-radius: 5px;
    list-style-type: none;
    text-decoration: none;

    padding: 20px;
    color: white;
    background-color: #3d3aa6;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
}


.button2:hover {
    background-color: #423fd7;
    color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}

.button2.color {
    padding: 0;
    width: 55px;
    height: 55px;
}

.button {
    /*text-align: center;*/
    list-style-type: none;
    margin: 200px;

}

.button > a {
    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: #3d3aa6;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
    width: 100px;
}

.infobox {
    background-color: #494949;
    padding: 20px;
    margin: 20px;
    display: grid;
}
